#outer{
	margin-left:3px;
	width:530px;
	height:570px;
	position:relative;
	overflow:hidden;
}
#inner{
	height:500px;
	margin-left:0px;
	margin-right:0px;
	position:relative;
}

.inner_block{
	background-image:url(../images/inner_block_bg.png);
	background-repeat:repeat-y;
	text-align:left;
	margin-left:4px;
	margin-right:4px;
	position:absolute;
	top:54px;
}
.inner_block>img{
	background-color:#fdf132;
}
.inner_block>div{
	padding:12px 20px 0px 20px;
	line-height:26px;
}
.inner_block>h1{
	font-size:30px;
	color:#FF0000;
	text-align:center;
	width:100%;
}
#dt_p_0 .inner_block{
	top:210px;
}
#dt_p_0>img{
	margin-bottom:30px;
}
#dt_start>img{
	margin-bottom:-20px;
	padding-left:10px;
}
#splash_footer{
	position:absolute;
	bottom:14px;
	font-size:13px;
	color:#ff0000;
	text-align:center;
	width:100%;
}
#dt_p_1>.inner_block>div{
	padding-top:5px;
	padding-bottom:10px;
}
#dt_p_2>.inner_block>div{
	height:354px;
}
#dt_p_4>.inner_block>div{
	height:400px;
}

#dt_p_5>.inner_block>div{
	height:400px;
}

#dt_p_6>.inner_block>div{
	height:400px;
}
#dt_p_7 .result_inner{
	height:400px;
	
}
#dt_p_8 .result_inner{
	height:400px;
	
}
#choose_nav{
	position:absolute;
	top:439px;
	left:14px;
	width:508px;
	text-align:left;
}
#choose_nav>div{
	position:absolute;
	right:0px;
	top:10px;
}
#input_0{
	position:absolute;
	top:12px;
	left:22px;
	width:184px;
}
#input_0>div{
	font-size:32px;
	text-align:center;
	height:60px;
	padding-top:20px;
}
#input_1{
	position:absolute;
	top:17px;
	right:24px;
	width:252px;
	height:268px;
	padding:10px;
	background-color:#fdf132;
	border-radius:10px;
	line-height:22px;
}
#input_2{
	position:absolute;
	color:#fff;
	font-size:32px;
	top:318px;
	left:22px;
	width:454px;
	height:26px;
	padding:12px;
	background-color:#000;
	border-radius:10px;
	background-image:url(../images/units_bg.png);
	background-repeat:x;
	background-position:center center;
	text-align:center;
}
#input_1>h2{
	font-size:18px;
	margin:4px 0px -3px 10px;
	padding:0px;
}
#input_nav{
	position:absolute;
	bottom:-44px;
	
	left:4px;
	width:514px;
}
#input_nav>div{
	position:absolute;
	right:0px;
	top:0px;
	
}
.quantity{
	margin:5px 0px 0px 10px;
	position:relative;
}
.quantity>a{
	margin:0px 10px 0px 0px;
}
.quantity>div{
	position:absolute;
	top:4px;
	left:80px;
	padding:3px;
	background-color:#FFFFFF;
	border:2px solid #000000;
	border-radius:3px;
	width:30px;
	height:22px;
	margin-top:-6px;
	text-align:center;
}
.starburst{
	position:absolute;
	top:0px;
	left:0px;
	width:115px;
	height:115px;
	background-image:url(../images/starburst.png);
	background-repeat:no-repeat;
}
.starburst a{
	text-decoration:none;
	color:#FFF;
}
.starburst>a>div{
	text-align:center;
	font-size:19px;
	width:115px;
}
.stb_u{
	padding-bottom:40px;
}
.stb_q{
	padding-top:40px;
}
#edit_outer{
	position:absolute;
	left:8px;
	top:54px;
	width:512px;
	height:380px;
	overflow:hidden;
	display:none;
}
#edit_inner{
	margin-top:380px;
	background-image:url(../images/inner_block_bg.png);
	background-repeat:repeat-y;
	width:100%;
	height:100%;
	background-position:-4px top;
	text-align:left;
	position:relative;
}
#edit_inner>img{
	margin-left:-4px;
	background-color:#fdf132;
}
#edit_inner>h1{
	padding:0px;
	margin:5px 0px 0px 15px;
	font-size:30px;
	color:#EB008B;
}
#edit_inner>div{
	margin:10px;
	width:492px;
	height:316px;
	position:absolute;
	top:50px;
	overflow-y: scroll;
	overflow-x: hidden;
}
#edit_close{
	position:absolute;
	right:-6px;
	top:36px;
	display:none;
}
#edit_close>a>span{
	color:#000;
	font-size:16px;
	margin-right:4px
}
#edit_close>a>img{
	margin-bottom:-5px
}
.edit_row{
	padding:10px;
	font-size:18px;
	border-top:1px solid #CCC; 
	border-bottom:1px solid #CCC; 
	margin:0px 5px -1px 0px;
	vertical-align:top;
}
.edit_row select{
	border:2px solid #000;
	border-radius:5px;
	padding:3px;
	margin-left:4px;
}
.edit_row input{
	/*border:2px solid #000;*/
	border:none;
	border-radius:5px;
	padding:6px;
	margin-left:4px;
	color:#FFF;
	background-color:#FF0000;
}
.edit_row input:hover{
	background-color:#d20000;
}
.result_inner{
	text-align:center;
	height:296px;
}
#result_back{
	position:absolute;
	top:96px;
	left:10px;
	display:none;
}
#result_next{
	position:absolute;
	top:488px;
	right:22px;
	display:none;
}
.result_body_text{
	font-size:26px;
	text-align:center;
	margin:20px;
	line-height:1.2em;
}
.result_body_text ul{
    padding-left:20px;
	margin:0px;
}
.result_body_text li{
    padding-bottom:0.4em;
}
.result_body_text span{
	color:#FF0000;
}
#units_head{
	font-size:42px;
	margin-top:40px;
}
#units_mid{
	
	
	width:230px;
	height:90px;
	position:absolute;
	left:125px;
	top:100px;
	
}

.numeral_wrap{
	font-size:92px;
	line-height:92px;
	color:#F00;
	overflow:hidden;
	position:relative;
	height:92px;
	margin-left:auto;
	margin-right:auto;
	
	
}
.numeral{
	position:absolute;
	top:0px;
	text-align:left;
}
.numeral_prefix{
	position:absolute;
	top:5px;
	text-align:left;
}
.numeral_overlay{
	height:92px;
	position:absolute;
	left:0px;
	top:0px;
}
#units_illo_left{
	position:absolute;
	left:8px;
	top:150px;
	width:130px;
	height:133px;
	overflow:hidden;
}
#units_illo_left>img{
	margin-left:-150px
}
#units_illo_right{
	position:absolute;
	right:10px;
	top:150px;
	width:130px;
	height:133px;
	overflow:hidden;
}
#units_illo_right>img{
	margin-right:-150px
}
#units_text{
	position:absolute;
	left:0px;
	top:230px;
	width:520px;
	font-size:38px;
	text-align:center;
	display:none;
}
#units_caption{
	position:absolute;
	left:70px;
	top:300px;
	width:380px;
	
	text-align:center;
	display:none;
}
#calories_head{
	font-size:36px;
	line-height:42px;
	
}
#calories_mid{
	width:230px;
	height:90px;
	position:absolute;
	left:145px;
	top:115px;	
}
#calories_caption{
	width:230px;
	height:90px;
	position:absolute;
	left:145px;
	top:210px;	
	font-size:40px;
}
#calories_foot{
	width:480px;
	position:absolute;
	left:0px;
	top:260px;
	font-size:24px;
}
#pie_chart{
	position:absolute;
	top:144px;
	left:30px;
	background-image:url(../images/pie_map.png);
	background-repeat:no-repeat;
	background-position:6px 6px;
	
}
#pie_chart img{
	margin:-1px;
	
}
#cost_head{
	font-size:36px;
	line-height:42px;
	
}
#cost_mid{
	width:360px;
	height:90px;
	position:absolute;
	left:60px;
	top:115px;	
}
#cost_foot{
	width:480px;
	position:absolute;
	left:0px;
	top:260px;
	font-size:32px;
}
#cost_illo_left{
	position:absolute;
	left:0px;
	top:150px;
	width:130px;
	height:133px;
	overflow:hidden;
}
#cost_illo_left>img{
	margin-left:-150px
}
#cost_illo_right{
	position:absolute;
	right:0px;
	top:150px;
	width:130px;
	height:133px;
	overflow:hidden;
}
#cost_illo_right>img{
	margin-right:-150px
}
#warning{
	background-color:#FFF;
	text-align:center;
	font-size:36px;
	position:absolute;
	width:504px;
	height:50px;
	left:8px;
	top:3px;
	border-radius:4px 4px 0px 0px;
	color:#FFF;
	padding:24px 0px 0px 0px !important;
	background-image:url(../images/q.png);
	background-repeat:no-repeat;
	background-position:450px 15px;
	display:none;
}
#means_body{
	margin:70px 5px 5px 5px;
	text-align:left;
	font-size:19px;
	line-height:1.2em;
}
#means_footer{
	position:absolute;
	bottom:4px;
	width:484px;
	color:#F00;
	font-size:18px;
}
#do_body{
	margin:5px 5px 5px 5px;
	text-align:left;
	font-size:19px;
	line-height:1.1em;
}
#do_footer{
	position:absolute;
	bottom:10px;
	width:484px;
}
#do_footer div{
	margin:10px;
}
.left_col{
	float:left;
}
.right_col{
	float:right;
}
#do_body span{
	color:#15802F;
}